
header {
    position: absolute;
    width: 100%;
    height: 90px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.logo_container {
    display: flex;
}
.nav_container {
    display: flex;    
}
/*Travel logo*/
.vector {
    margin-top: 26px;
    margin-left: 120px;
    width: 30px;
    height: 30px;
}

.title {
    margin-top: 25px;
    margin-left: 6px;
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    width: 180px;
    height: 31px;
}

.first {
    margin-left: 158px;
    margin-top: 35px;
    width: 105px;
    height: 21px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.header_text {
    margin-left: 42px;
    margin-top: 35px;
    width: 105px;
    height: 21px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.unique {
    margin-left: 158px;
}
